<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:p="http://www.springframework.org/schema/p" 
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-3.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	
    <!-- 基础spring mvc  json -->
    		<bean id="jacksonMessageConverter"
 		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"> 
 	</bean> 
	
<!-- 	<bean id="jacksonMessageConverter" -->
<!-- 		class="com.spring.bootstarp.JsonpAdapter"> -->
<!-- 	</bean> -->

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jacksonMessageConverter" />
			</list>
		</property>
	</bean>
 
 <!-- 支持jsonp -->   
 <!-- 根据客户端的不同的请求决定不同的view进行响应, 如 /blog/1.json /blog/1.xml show.jsonp-->   
<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver"> 

       <!-- 设置为true以忽略对Accept Header的支持-->  
<!--        <property name="ignoreAcceptHeader" value="true"/>   -->
       <!-- 在没有扩展名时即: "/user/1" 时的默认展现形式 -->  
<!--        <property name="defaultContentType" value="text/html"/> --><!-- restful 接口不需要html -->

    <property name="favorPathExtension" value="true"/> 
    <!-- 扩展名至mimeType的映射,即 /user.json => application/json -->  
    <property name="mediaTypes"> 
        <map> 
           <entry key="json" value="application/json"/> 
           <entry key="jsonp" value="application/javascript"/> 
       </map> 
     </property> 
     <property name="defaultViews"> 
       <list> 
           <!-- 和上面的mediaTypes 对应 -->
           <bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"/> 
           <bean class="com.spring.bootstarp.jsonp.MappingJacksonJsonpView"/> 
        </list> 
    </property> 
 </bean>      

</beans>
